.aboutimg{
    padding: 0;

}
.heading-text{
    position: absolute;
    top: 30vh;
    width: 100%;
    max-width: 100%;
}

.heading-text h5{

    font-size: 4em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;

}
.heading-text h1{

    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    font-family: monospace;

}

.heading-text p{

    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #DFDFDE;
    word-spacing: 5px;
    letter-spacing: 2px;

}
